.dday {
    width: 90%;
    margin: 0 auto;
    margin-top: 20px;
    padding: 50px 0 30px;
    background-color: #fff;
    border-radius: 30px;
    border: 0.5px solid #e7e7e7;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.068)
}

/* 이미지 */
.img_wrap {
    margin: auto;
    width: 370px;
    height: 370px;
    border: 10px solid #ffffff;
    border-radius: 70%;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.267);
    overflow: hidden;
}

.img_wrap img {
    width: 100%;
    object-fit: cover;
}

/* 체크리스트 버튼 */
.button_wrap {
    margin: auto;
}

.css-pl8gqh-MuiStack-root {
    justify-content: center;
}

.css-142372x-MuiButtonBase-root-MuiButton-root {
    background-color: #f8537b;
    width: 30%;
    height: 40px;
    margin-top: 25px;
}

/* 날씨 */
.weather {
    width: 90%;
    margin: 0 auto;
    margin-top: 20px;
    background-color: #fff;
    border-radius: 30px;
    border: 0.5px solid #e7e7e7;
    padding: 10px 0 10px;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.068);
    display: flex;
    justify-content: space-around;
}

.weather_wrap {
    display: flex;
    gap: 10px;
}

/* 플로팅버튼 */
.css-9trjq9-MuiButtonBase-root-MuiFab-root {
    background-color: #f8537b !important;
    position: fixed !important;
    bottom: 76px;
    right: 25px;
}